<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" 
         IgnorableNamespaces="uap mp rescap uap3 uap5">
  <Identity Name="622PKar.BackupSMS" Publisher="CN=B2AF14E8-43FD-463C-83BA-4CEC47122EA2" Version="10.2105.7.0" />
  <mp:PhoneIdentity PhoneProductId="b84b1ec1-3f25-406b-ba1d-7e3bdfb3497c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BackupSMS</DisplayName>
    <PublisherDisplayName>PKar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="BackupSMS.exe" EntryPoint="BackupSMS.App">
      <uap:VisualElements DisplayName="BackupSMS" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="BackupSMS" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="csvsms">
            <uap:DisplayName>CSV z SMS</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true" />
            <uap:SupportedFileTypes>
              <uap:FileType>.csv</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.microsoft.pkar.backupsms"/>
        </uap:Extension>
        <uap5:Extension
		  Category="windows.appExecutionAlias"
		  Executable="BackupSMS.exe"
		  EntryPoint="BackupSMS.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="BackupSMS.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>

      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="contacts" />
    <rescap:Capability Name="chatSystem" />
  </Capabilities>
</Package>